<nav class="flex justify-between items-center gap-2 py-4 px-4 bg-[#161616] text-[#fff] logo">
    <div class="flex items-center gap-2">
        <p class="logo text-xl">
            Fitnesss 
        </p>
    </div>
    <ul class="flex items-center gap-3 font-light text-sm">
        <li class="p-1">
            <a routerLink="/">HOME</a>
        </li>
        <li class="p-1">
            <a routerLink="/explore">EXPLORE</a>
        </li>
        <li class="p-1">
            <a routerLink="/add-workout">Add</a>
        </li>
        
    </ul>
</nav>
