<div class="flex bg-[#161616] h-[100vh] justify-center items-center">
    <div class="text-white mx-4 md:mx-12 mt-[-20vh]">
        <h1 class="text-5xl heading font-bold mt-4 text-center lg:text-left">
            Push harder than yesterday<br> if you want a different tomorrow 
        </h1>

        <p class="text-3xl mt-6 mr-6 font-style: italic text-center lg:text-left">
            Checkout the workout plans and start your fitness journey today.
        </p>

        <div class="flex justify-center lg:justify-start mt-10">
            <button class="bg-cyan-100 text-cyan-950 p-2 font-bold rounded mr-4">
                <a routerLink="/explore" class="flex items-center gap-1">
                    <i class="pi pi-compass" style="font-size: 1rem;"></i>
                    Explore Workouts
                </a>
            </button>
            <button class="bg-cyan-100 text-cyan-950 p-2 font-bold rounded pl-2">
                <a routerLink="/add-workout" class="flex items-center gap-1">
                    <i class="pi pi-plus-circle" style="font-size: 1rem;"></i>
                    <span>
                        ADD Workouts
                    </span>
                </a>
            </button>
        </div>
    </div>
</div>
